.playlists{
}

.playlists .playlistBtn {
    float: left;
    margin-left: 10px;
    height: 30px;
    padding: 3px 10px;
    border: 1px solid grey;
    border-radius: 5px;
    cursor: pointer;
    background: #004dff;
    background: rgba(0, 77, 255, 0.25);
}

.playlists .playlistBtn:not(.disabled):hover {
    background: #003cc8;
    background: rgba(0, 77, 255, 0.55);
}
.playlists .playlistBtn.disabled {
    background: #004dff;
    background: rgba(0, 0, 0, 0);
    border: 1px solid black;
    cursor: default;
}

.playlists .userContainer {
    height: 140px;
}
.playlists .userContainer .userSelector {
    float: left;
    color: black;
    min-width: 200px;
    height: 28px;
    border-radius: 5px;
    padding: 2px;
}
.playlists .userContainer .fileContainer{
    padding:15px;
    padding-bottom:10px;
    border-radius:5px;
    background: #0032a5;
    background: rgba(0, 77, 255, 0.15);
    box-shadow: 3px 3px 10px 1px black;
    border-radius: 5px;
    border: 1px solid #4c4c4c;
    min-width: 400px;
}
.playlists .userContainer .fileContainer .label{
    margin-top:13px;
}
.playlists .userContainer .fileContainer .playlistBtn{
    margin-top:5px;
    margin-left:5px;
}

.playlists .playlistContainer {
    width: 100%;
    height: 75px;
    padding: 0 5px;
    margin-top: 10px;
    background: #0032a5;
    background: rgba(0, 77, 255, 0.15);
    box-shadow: 3px 3px 10px 1px black;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    border: 1px solid #4c4c4c;
}
.playlists .playlistContainer .icon {
    width: 50px;
    height: 100%;
    float: left;
    font-size: 2em;
    padding-top: 17px;
    padding-left: 13px;
}
.playlists .playlistContainer .playlistContent {
    padding-top: 8px;
    padding-left: 13px;
    height: 100%;
    float: left;
    width: calc(100% - 50px); /* Minus icon */
    overflow: hidden;
}
.playlists .playlistContainer .playlistContent .topPart {
    width: 100%;
    height: 30px;
}
.playlists .playlistContainer .playlistContent .topPart .title {
    font-size: 1.3em;
}
.playlists .playlistContainer .playlistContent .topPart .buttons {
    width: 200px;
    margin-top: -6px;
}
.playlists .playlistContainer .playlistContent .topPart .buttons > div {
    float: right;
    margin: 3px;
}

.playlists .playlistContainer .playlistContent .bottomPart {
    width: calc(100% - 200px); /* Minus buttons */
    height: 20px;
    padding-left: 15px;
    color: #d4d4d4;
}


@media screen and (max-width: 825px) {
    .playlists .userContainer .fileContainer {
        margin-left: 0 !important;
        margin-top: 0 !important;
        margin-bottom: 20px;
    }
}