/* Custom Style Sheet by trumpy81 */
/* Main Page Background Color */
body{
    background-color: rgba(242,225,216,1);
    color: rgba(119,59,34,0.9);
}
/* Scrollbar styles (Does Not Work In FireFox) */
::-webkit-scrollbar-thumb {
    background-color: rgba(217,150,121,0.5);
    outline: 1px solid rgba(0,0,0,1);
    -webkit-border-radius: 1ex;
    -webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.75);
}  
::-webkit-scrollbar-corner {
    background: #1A1A1A;
}
::-webkit-scrollbar-thumb:hover {
    background-color: rgba(121,38,5,.5);
    outline: 1px solid rgba(0,0,0,1);
}
/* The Dreaded Gear Wheel Spinning Icon Thingy */
webtools-loading{
    background-color: rgba(0, 0, 0, 0.3);
}
webtools-loading .webtoolsLoading {
    color: rgba(194,49,36,0.7);
}
content-loading{
}
content-loading .contentLoading {
    color: rgba(194,49,36,0.7);
}
/* Help ? Button */
help {
    color: rgba(119,59,34,0.9);
}
help:hover {
    color: rgba(104,69,44,0.6);
}
/* Help ? Button Dialog Page */
.ngdialog.ngdialog-theme-default .ngdialog-content {
    background-color: rgba(242,225,216,1);
}

/* Head ---------------------------------------------------------------------------------------- */

/* Top Title Bar */
.head{
    background-color: rgba(194,49,36,1);
    box-shadow:0 0 0 0px rgba(0,0,0,1);
}
.head .title{
    color: rgba(246,170,81,1);
}

/* Menu ---------------------------------------------------------------------------------------- */

/* Menu Separator Line */
.line{
    border-bottom: 3px solid rgba(255, 255, 255, 0.5);
}

/* Menu Background Color */
.menu {
    background-color: rgba(246,137,75,0.25);
    box-shadow:0 0 0 0px rgba(0,0,0,0);
}
.menu .item {
    background: rgba(217,150,121,1);
    color: rgba(119,59,34,0.9);
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,.45);
}
.menu .item:hover {
    background-color: rgba(119,59,34,0.23);
    color: rgba(119,59,34,1);
}
.menu .item.active {
    background-color: rgba(119,59,34,0.23);
    color: rgba(119,59,34,1);
}
/* Menu Hide/Show */
.menu .toggle {
    background: rgba(119,59,34,0.9);
    color: rgba(246,170,81,1);
}
.menu .toggle:hover {
    background: rgba(104,69,44,.6);
}
.menu .toggle:active {
    background: rgba(104,69,44,.6);
}

/* Subtitles ----------------------------------------------------------------------------------- */

.sub .settings {
    background: rgba(217,150,121,1);
}
.sub .search .btnSearch {
    background: rgba(217,150,121,1);
    color: rgba(119,59,34,0.9);
}
.sub .search .btnSearch:hover {
    background-color: rgba(119,59,34,0.23);
    color: rgba(119,59,34,1);
}
.sub .search .searchInput{
    background-color: rgba(246,137,75,0.1);
    color: rgba(0,0,0,1);
}
/* Sub Item Row */
.sub .rowShow{
    background: rgba(217,150,121,1);
    box-shadow: 1px 1px 2px 1px rgba(0,0,0,.45);
}
/* Expanded Row Separator Under Icon */
.sub .rowShow.expanded .lineShow .type{
    border-bottom-color: rgba(194,138,68,1);
}
/* Expanded Row Separator Under Title */
.sub .rowShow.expanded .lineShow .title{
    border-bottom-color: rgba(194,138,68,1);
}
/* Sub Item Box */
.sub .rowShow .lineShow .contentShow .detail{
    background: rgba(242,225,216,0.5);
}
/* Sub Item Subtitle List */
.sub .rowShow .lineShow .contentShow .detail .subItem{
    background: rgba(255,255,255,0.2);
}
/* Sub Item Subtitle List Checked */
.sub .rowShow .lineShow .contentShow .detail .subItem.checked{
    background: rgba(255,255,255,0.5);
}
/* Sub Item Load More Button */
.sub .rowShow .lineShow .contentShow .loadmore{
    background: rgba(242,225,216,0.2);
    border: solid 6px rgba(217,150,121,1);    
}
.sub .rowShow .lineShow .contentShow .loadmore:hover{
    background: rgba(242,225,216,0.7);
}
/* Sub TV Show Button */
.sub .rowShow .lineShow .contentShow .tvshow{
    background-color: rgba(194,49,36,0.35);
}
.sub .rowShow .lineShow .contentShow .tvshow:hover{
    background-color: rgba(194,49,36,0.55);
}
/* Sub TV Show Series Title / Back Button */
.sub .rowShow .lineShow .contentShow .tvshowheader div{
    padding:5px;
    cursor:pointer;
    border-radius: 10px;
    background: rgba(215,170,147,0.5);
    overflow:hidden; 
}
.sub .rowShow .lineShow .contentShow .tvshowheader div:hover{
    background: rgba(215,170,147,1);
}

/* Logs ---------------------------------------------------------------------------------------- */

/* Logs Download Buttons */
.logs .logButton{
    background-color: rgba(246,137,75,0.25);
    color: rgba(119,59,34,0.5);
}
.logs .logButton:hover {
    background-color: rgba(119,59,34,0.23);
    color: rgba(119,59,34,1);
}
/* Logs Search Bar Background */
.logs .search{
    background-color: rgba(246,137,75,0.25);
}

/* Logs Search Bar Input Text */
.logs .search .searchInput{
    background-color: rgba(242,225,216);
    color: #000000;
}
/* Logs Search Bar Buttons */
.logs .search .btnSearch{
    background-color: rgba(119,59,34,0.93);
    color: rgba(246,170,81,1);
}
.logs .search .btnSearch:hover {
    background-color: rgba(119,59,34,0.23);
    color: rgba(119,59,34,1);
}

/* Logs Alternate Line Colors */
.logs .logDetails table tr:nth-child(odd) {
}
.logs .logDetails table tr:nth-child(even) {
    background-color: rgba(242,225,216,0.35);
}
/* Highlight Error Lines */
.logs .logDetails table tr.danger {
    background-color: rgba(194,49,36,0.7);
    color: rgba(255,255,255,1)
}
/* Logs Search Result Colors */
.logs .logDetails table tr.lineFound{
    background-color: rgba(0,77,255,0.5);
    color: rgba(255,255,255,1)   
}
.logs .logDetails table tr.lineFound.focused{
    background-color: rgba(0,77,255,0.75);
    color: rgba(255,255,255,1)   
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,1);
}

/* UAS ----------------------------------------------------------------------------------------- */

/* UAS Category Selector Box */
.uas .typesMenu {
    background-color: rgba(246,137,75,0.2);
    box-shadow: 0 0 0 3px rgba(0,0,0,.2);
}
.uas .type:hover{
    background:rgba(242,225,216,1);
}
/* UAS Category Selector Box Selected Highlight */
.uas .type.active{
    color:white;
    border-radius: 3px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f0b7a1+0,8c3310+50,752201+51,bf6e4e+100;Brown+Gloss */
    background: rgb(240,183,161); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(240,183,161,1) 0%, rgba(140,51,16,1) 50%, rgba(117,34,1,1) 51%, rgba(191,110,78,1) 100%); /* FF3.6-15 */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(240,183,161,1)), color-stop(50%,rgba(140,51,16,1)), color-stop(51%,rgba(117,34,1,1)), color-stop(100%,rgba(191,110,78,1))); /* Chrome4-9,Safari4-5 */
    background: -webkit-linear-gradient(top,  rgba(240,183,161,1) 0%,rgba(140,51,16,1) 50%,rgba(117,34,1,1) 51%,rgba(191,110,78,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: -o-linear-gradient(top,  rgba(240,183,161,1) 0%,rgba(140,51,16,1) 50%,rgba(117,34,1,1) 51%,rgba(191,110,78,1) 100%); /* Opera 11.10-11.50 */
    background: -ms-linear-gradient(top,  rgba(240,183,161,1) 0%,rgba(140,51,16,1) 50%,rgba(117,34,1,1) 51%,rgba(191,110,78,1) 100%); /* IE10 preview */
    background: linear-gradient(to bottom,  rgba(240,183,161,1) 0%,rgba(140,51,16,1) 50%,rgba(117,34,1,1) 51%,rgba(191,110,78,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0b7a1', endColorstr='#bf6e4e',GradientType=0 ); /* IE6-9 */
    -webkit-box-shadow: 0 2px 2px 0 rgba(50,50,50,.6);
    -moz-box-shadow: 0 2px 2px 0 rgba(50,50,50,.6);
    box-shadow: 0 2px 2px 0 rgba(50,50,50,.6);
}

/* Search Button */
.uas .typesMenu .search .btnSearch {
    background: rgba(217,150,121,1);
    color: rgba(119,59,34,0.9);
}
.uas .typesMenu .search .btnSearch:hover {
    background-color: rgba(119,59,34,0.23);
    color: rgba(119,59,34,1);
}
/* Search Text Input */
.uas .typesMenu .search .searchInput {
    background-color: rgba(246,137,75,0.1);
    color: rgba(0,0,0,1);
}
/* Manual Installation Text Input */
.uas .manualInstall {
    background-color: rgba(246,137,75,0.1);
    color: rgba(0,0,0,1);
}
/* UAS Buttons */
.uas .uasBtn {
    background: rgba(243,203,181,1);
    color: rgba(119,59,34,0.9);
}
.uas .uasBtn:hover {
    background-color: rgba(119,59,34,0.23);
    color: rgba(119,59,34,1);
}
/* UAS Item Installed Container */
.uas .repoContainer .repo.installed{
    background:rgba(243,207,188,1);
}
/* UAS Item Install/Update Button */
.uas .repoContainer .repo .header .right .installUpdate{
    background:rgba(243,207,181,1);
    color: rgba(119,59,34,0.5); 
}
.uas .repoContainer .repo .header .right .installUpdate:hover{
    background:rgba(242,225,216,0.9);
}
/* UAS Item Delete Button */
.uas .repoContainer .repo .header .right .delete{
    background:rgba(243,203,181,1);
    color: rgba(119,59,34,0.5); 
}
.uas .repoContainer .repo .header .right .delete:hover{
    background:rgba(242,225,216,0.9);
}
/* UAS Item Container */
.uas .repoContainer .repo {
    background: rgba(217,150,121,1);
    color: rgba(119,59,34,0.9);
}
/* UAS Item Revealed Row Upper&Lower */
.uas .repoContainer .repo .details .row {
    background: rgba(242,225,216,0.5);
    color: rgba(119,59,34,0.95);
}
/* UAS Item Revealed Row Middle */
.uas .repoContainer .repo .details .row:nth-child(2n) {
    background: rgba(242,225,216,0.5);
    color: rgba(119,59,34,0.95);
}
/* UAS Item Installed Row Upper&Lower */
.uas .repoContainer .repo.installed .details .row{
    background:rgba(238, 255, 230, 1);
}
/* UAS Item Installed Row Middle */
.uas .repoContainer .repo.installed .details .row:nth-child(2n){
    background:rgba(238, 255, 230, 1);
}

/* Find Media ---------------------------------------------------------------------------------- */

/* FM Settings Box */
.fm .settings {
    background: rgba(217,150,121,1);
    color: rgba(119,59,34,0.9);
    Border: 1px solid rgba(0,0,0,0.2);
}
/* FM Buttons */
.fm button{
    background-color: rgba(242,225,216,1);
}
.fm button:hover {
    background-color: rgba(215,170,147,1);
}
/* FM Library List Rows */
.fm .sections .section {
    background: rgba(217,150,121,1);
    color: rgba(119,59,34,0.9);
}
.fm .sections .section:hover {
    background: rgba(215,170,147,1);
    color: rgba(119,59,34,0.9);
}

/* Playlists ----------------------------------------------------------------------------------- */

.btnInput {
    background: rgba(243,203,181,1);
    color: rgba(119,59,34,0.9);
}
.btnInput:hover {
    background: rgba(119,59,34,0.23);
    color: rgba(119,59,34,1);
}
/* Playlists Item Container */
.playlists .playlistContainer {
    background: rgba(217,150,121,0.7);
    color: rgba(119,59,34,0.9);
}
/* Playlists Buttons */
.playlists .playlistBtn {
    background: rgba(243,203,181,1);
    color: rgba(119,59,34,0.9);
    border: 1px solid rgba(119,59,34,0.9);
}
.playlists .playlistBtn:not(.disabled):hover {
    background-color: rgba(119,59,34,0.23);
    color: rgba(119,59,34,1);
    border: 1px solid rgba(119,59,34,0.9);
}
/* Playlists Buttons Disabled */
.playlists .playlistBtn.disabled {
    background: rgba(243,203,181,1);
    color: rgba(119,59,34,0.9);
    border: 1px solid rgba(255,0,0,1);
}
.playlists .playlistBtn.disabled:hover {
    background: rgba(217,0,0,0.5);
    color: rgba(224,224,224,0.7);
    border: 1px solid rgba(224,224,224,0.7);
}
/* PlayLists Browse Container */
.playlists .userContainer .fileContainer{
    background: rgba(224,172,149,1);
}
.playlists .userContainer .fileContainer .label{
    color: rgba(119,59,34,0.9);
}

/* TechInfo ------------------------------------------------------------------------------------ */

.info tr:nth-child(2n+1){
    background-color: rgba(242,225,216,0.7);
}
.info tr:nth-child(2n+2){
    background-color: rgba(194,49,36,0.1);
}

/* Language ------------------------------------------------------------------------------------ */

.language .languageActions .langBtn {
    background: rgba(243,203,181,1);
    color: rgba(119,59,34,0.9);
}
.language .languageActions .langBtn:hover {
    background: rgba(215,170,147,1);
    color: rgba(119,59,34,0.9);
}
/* Theme --------------------------------------------------------------------------------------- */

.theme .block{
    border-color: rgba(217,150,121,0.7);
}
.theme .block:hover:not(.activeTheme){
    background-color: rgba(246,137,75,0.5);
}
.theme .block.activeTheme{
    background-color: rgba(246,137,75,0.5);
}