/* Custom Style Sheet by trumpy81 */
/* Main Page Background Color */
body{
    background-color: rgba(0,0,0,1);
    color: rgba(255,255,102,1);
}
/* Scrollbar styles (Does Not Work In FireFox) */
::-webkit-scrollbar-thumb {
    background-color: rgba(255,255,102,0.5);
    outline: 1px solid rgba(0,0,0,1);
    -webkit-border-radius: 1ex;
    -webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.75);
}  
::-webkit-scrollbar-corner {
    background: #1A1A1A;
}
::-webkit-scrollbar-thumb:hover {
    background-color: rgba(51,51,0,1);
    outline: 1px solid rgba(0,0,0,1);
}
/* The Dreaded Gear Wheel Spinning Icon Thingy */
webtools-loading{
    background-color: rgba(0,0,0,0.3);
}
webtools-loading .webtoolsLoading {
    color: rgb(51,51,0,1);
}
content-loading{
}
content-loading .contentLoading {
    color: rgb(51,51,0,1);
}
help {
    color: rgba(255,255,102,1);
}
help:hover {
    color: rgba(255,255,102,0.75);
}

/* Login */
.vertical-center {
    background-color: rgba(255,255,255,0.00);
    box-shadow: inset 0px 15px 15px -4px rgba(255,255,0,0.06);
}
.mainContainer{
    background-color: rgba(0,0,0,.15);
}
.mainContainer input.mainBtn{
    color:#fff;
    background-color: #f0ad4e;
    background-image: none;
    border-color: #eea236;
}
.mainContainer input.mainBtn:focus{
    color:#fff;
    background-color:#ec971f;
    border-color:#985f0d;
}
.mainContainer input.mainBtn:hover{
    color:#fff;
    background-color:#ec971f;
    border-color:#d58512;
}

/* Head ---------------------------------------------------------------------------------------- */

/* Top Title Bar */
.head{
    background-color: rgba(0,0,0,0.53);
    box-shadow:0 0 0 3px rgba(51,51,0,1);
}
.head .title{
    color: inherit;
}

/* Menu ---------------------------------------------------------------------------------------- */
/* Menu Separator Line */
.line{
    border-bottom: 3px solid rgba(51,51,0,1);
}

/* Menu Background Color */
.menu{
    background-color: rgba(0,0,0,.15);
    box-shadow:0 0 0 3px rgba(0,0,0,.2);
}
.menu .item{
    background: rgba(254,155,0,0.04);
}
.menu .item:hover{
    background: rgba(51,51,0,1);
}
.menu .item.active{
    background: rgba(51,51,0,1);
}
.menu .toggle{
    color: rgba(51,51,0,0.9);
    background: rgba(255,255,102,1);
}
.menu .toggle:hover{
    background: rgba(255,255,102,0.75);
}

/* Subtitles ----------------------------------------------------------------------------------- */

.sub .settings {
    background: rgba(0,0,0,1);
    border: solid 1px rgba(255,255,102,0.5);
}
.sub .search .btnSearch {
    background: rgba(51,51,0,1);
    color: rgba(255,255,102,1);
}
.sub .search .btnSearch:hover {
    background-color: rgba(51,51,0,0.75);
    color: rgba(255,255,102,1);
}
.sub .search .searchInput{
    background-color: rgba(255,255,255,1);
    color: rgba(0,0,0,1);
}
/* Sub Item Row */
.sub .rowShow{
    background: rgba(0,0,0,1);
    border: solid 1px rgba(255,255,102,0.5);
}
/* Expanded Row Separator Under Icon */
.sub .rowShow.expanded .lineShow .type{
    border-bottom-color: rgba(255,255,102,0.5);
}
/* Expanded Row Separator Under Title */
.sub .rowShow.expanded .lineShow .title{
    border-bottom-color: rgba(255,255,102,0.5);
}
/* Sub Item Box */
.sub .rowShow .lineShow .contentShow .detail{
    background: rgba(0,0,0,1);
    border: solid 1px rgba(255,255,102,0.5);
}
/* Sub Item Subtitle List */
.sub .rowShow .lineShow .contentShow .detail .subItem{
    background: rgba(255,255,255,0.2);
}
/* Sub Item Subtitle List Checked */
.sub .rowShow .lineShow .contentShow .detail .subItem.checked{
    background: rgba(255,255,255,0.5);
}
/* Sub Item Load More Button */
.sub .rowShow .lineShow .contentShow .loadmore{
    background: rgba(51,51,0,1);
    border: solid 6px rgba(0,0,0,1);
}
.sub .rowShow .lineShow .contentShow .loadmore:hover{
    background: rgba(51,51,0,1);
    color: rgba(255,255,255,1);
    border: solid 6px rgba(0,0,0,1);
}
/* Sub TV Show Button */
.sub .rowShow .lineShow .contentShow .tvshow{
    background-color: rgba(0,0,0,1);
    border: solid 1px rgba(255,255,102,0.5);
}
.sub .rowShow .lineShow .contentShow .tvshow:hover{
    background-color: rgba(0,0,0,0.5);
    border: solid 1px rgba(255,255,255,1);
    Color: rgba(255,255,255,1)
}
/* Sub TV Show Series Title / Back Button */
.sub .rowShow .lineShow .contentShow .tvshowheader div{
    padding:5px;
    cursor:pointer;
    border-radius: 10px;
    background: rgba(0,0,0,1);
    overflow:hidden; 
    border: solid 1px rgba(255,255,102,0.5);
}
.sub .rowShow .lineShow .contentShow .tvshowheader div:hover{
    background: rgba(0,0,0,0.5);
    Color: rgba(255,255,255,1);
    border: solid 1px rgba(255,255,255,0.5);
}

/* Logs ---------------------------------------------------------------------------------------- */

/* Logs Download Buttons */
.logs .logButton{
    background-color: rgba(0,0,0,1);
    color: rgba(255,255,102,1);
    border: solid 1px rgba(255,255,102,0.5)
}
.logs .logButton:hover {
    background-color: rgba(119,59,34,0.23);
    color: rgba(255,255,255,1);
    border: solid 1px rgba(255,255,255,1)
}
/* Logs Search Bar Background */
.logs .search{
    background-color: rgba(0,0,0,1);
    border: solid 1px rgba(255,255,102,0.5)
}

/* Logs Search Bar Input Text */
.logs .search .searchInput{
    background-color: rgba(255,255,255,1);
    color: #000000;
}
/* Logs Search Bar Buttons */
.logs .search .btnSearch{
    background-color: rgba(0,0,0,1);
    border: solid 1px rgba(255,255,102,0.5)
}
.logs .search .btnSearch:hover {
    background-color: rgba(0,0,0,1);
    color: rgba(255,255,255,1);
    border: solid 1px rgba(255,255,255,1)
}

/* Logs Alternate Line Colors */
.logs .logDetails table tr:nth-child(odd) {
    background-color: rgba(0,0,0,1);
}
.logs .logDetails table tr:nth-child(even) {
    background-color: rgba(51,51,0,0.1);
}
/* Highlight Error Lines */
.logs .logDetails table tr.danger {
    background-color: rgba(194,49,36,0.7);
    color: rgba(255,255,255,1)
}
/* Logs Search Result Colors */
.logs .logDetails table tr.lineFound{
    background-color: rgba(0,77,255,0.5);
    color: rgba(255,255,255,1)   
}
.logs .logDetails table tr.lineFound.focused{
    background-color: rgba(0,77,255,0.75);
    color: rgba(255,255,255,1)   
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,1);
}

/* UAS ----------------------------------------------------------------------------------------- */

/* UAS Category Selector Box */
.uas .typesMenu {
    background-color: rgba(0,0,0,1);
    border: solid 1px rgba(255,255,102,0.5)
}
.uas .type:hover{
    background:rgba(51,51,0,1);
}
/* UAS Category Selector Box Selected Highlight */
.uas .type.active{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffff66+0,333300+44 */
background: #ffff66; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmY2NiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ0JSIgc3RvcC1jb2xvcj0iIzMzMzMwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
background: -moz-linear-gradient(top,  #ffff66 0%, #333300 44%); /* FF3.6-15 */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffff66), color-stop(44%,#333300)); /* Chrome4-9,Safari4-5 */
background: -webkit-linear-gradient(top,  #ffff66 0%,#333300 44%); /* Chrome10-25,Safari5.1-6 */
background: -o-linear-gradient(top,  #ffff66 0%,#333300 44%); /* Opera 11.10-11.50 */
background: -ms-linear-gradient(top,  #ffff66 0%,#333300 44%); /* IE10 preview */
background: linear-gradient(to bottom,  #ffff66 0%,#333300 44%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffff66', endColorstr='#333300',GradientType=0 ); /* IE6-8 */
}

/* Search Button */
.uas .typesMenu .search .btnSearch {
    background-color: rgba(0,0,0,1);
    border: solid 1px rgba(255,255,102,0.5)
}
.uas .typesMenu .search .btnSearch:hover {
    background-color: rgba(0,0,0,1);
    color: rgba(255,255,255,1);
    border: solid 1px rgba(255,255,255,1)
}
/* Search Text Input */
.uas .typesMenu .search .searchInput {
    background-color: rgba(255,255,255,1);
    color: rgba(0,0,0,1);
}
/* Manual Installation Text Input */
.uas .manualInstall {
    background-color: rgba(255,255,255,1);
    color: rgba(0,0,0,1);
}
/* UAS Buttons */
.uas .uasBtn {
    background: rgba(0,0,0,1);
    color: rgba(255,255,102,1);
    border: solid 1px rgba(255,255,102,0.5)
}
.uas .uasBtn:hover {
    background-color: rgba(0,0,0,1);
    color: rgba(255,255,255,1);
    border: solid 1px rgba(255,255,255,1)
}
/* UAS Item Installed Container */
.uas .repoContainer .repo.installed{
    background:rgba(51,51,0,1);
    color: rgba(255,255,102,1);
    border: solid 1px rgba(255,255,102,0.5)
}
/* UAS Item Installed Row Upper&Lower */
.uas .repoContainer .repo.installed .details .row{
    background: rgba(51,51,0,1);
    color: rgba(255,255,102,1);
}
/* UAS Item Installed Row Middle */
.uas .repoContainer .repo.installed .details .row:nth-child(2n){
    background: rgba(51,51,0,1);
    color: rgba(255,255,102,1);
}
/* UAS Item Install/Update Button */
.uas .repoContainer .repo .header .right .installUpdate{
    background:rgba(0,0,0,1);
    color: rgba(255,255,102,1); 
}
.uas .repoContainer .repo .header .right .installUpdate:hover{
    background:rgba(0,0,0,1);
    color: rgba(255,255,255,1); 

}
/* UAS Item Delete Button */
.uas .repoContainer .repo .header .right .delete{
    background:rgba(0,0,0,1);
    color: rgba(255,255,102,1); 
}
.uas .repoContainer .repo .header .right .delete:hover{
    background:rgba(0,0,0,1);
    color: rgba(255,255,255,1); 
    border: solid 1px rgba(255,255,255,1)
}
/* UAS Item Container */
.uas .repoContainer .repo {
    background: rgba(0,0,0,1);
    color: rgba(255,255,102,1);
    border: solid 1px rgba(255,255,102,0.5)
}
/* UAS Item Revealed Row Upper&Lower */
.uas .repoContainer .repo .details .row {
    background: rgba(0,0,0,1);
    color: rgba(255,255,102,1);
}
/* UAS Item Revealed Row Middle */
.uas .repoContainer .repo .details .row:nth-child(2n) {
    background: rgba(0,0,0,1);
    color: rgba(255,255,102,1);
}

/* Find Media ---------------------------------------------------------------------------------- */

/* FM Settings Box */
.fm .settings {
    background: rgba(0,0,0,1);
    color: rgba(255,255,102,1);
    Border: 1px solid rgba(255,255,102,0.5);
}
/* FM Buttons */
.fm button{
    background-color: rgba(0,0,0,1);
    color: rgba(255,255,102,1);
    Border: 1px solid rgba(255,255,102,0.5);
}
.fm button:hover {
    background-color: rgba(0,0,0,1);
    color: rgba(255,255,255,1);
    Border: 1px solid rgba(255,255,255,1);
}
/* FM Library List Rows */
.fm .sections .section {
    background: rgba(0,0,0,1);
    color: rgba(255,255,102,1);
    Border: 1px solid rgba(255,255,102,0.5);
}
.fm .sections .section:hover {
    background: rgba(0,0,0,1);
    color: rgba(255,255,255,1);
    Border: 1px solid rgba(255,255,255,1);
}

/* Playlists ----------------------------------------------------------------------------------- */

.btnInput {
    background: rgba(0,0,0,1);
    color: rgba(255,255,102,1);
    Border: 1px solid rgba(255,255,102,0.5);
}
.btnInput:hover {
    background: rgba(0,0,0,1);
    color: rgba(255,255,255,1);
    Border: 1px solid rgba(255,255,255,1);
}
/* Playlists Item Container */
.playlists .playlistContainer {
    background: rgba(0,0,0,1);
    color: rgba(255,255,102,1);
    Border: 1px solid rgba(255,255,102,0.5);
}
/* Playlists Buttons */
.playlists .playlistBtn {
    background: rgba(0,0,0,1);
    color: rgba(255,255,102,1);
    Border: 1px solid rgba(255,255,102,0.5);
}
.playlists .playlistBtn:not(.disabled):hover {
    background: rgba(0,0,0,1);
    color: rgba(255,255,255,1);
    Border: 1px solid rgba(255,255,255,1);
}
/* Playlists Buttons Disabled */
.playlists .playlistBtn.disabled {
    background: rgba(0,0,0,1);
    color: rgba(255,255,102,1);
    border: 1px solid rgba(255,0,0,1);
}
.playlists .playlistBtn.disabled:hover {
    background: rgba(0,0,0,1);
    color: rgba(255,255,255,1);
    border: 1px solid rgba(255,0,0,1);
}
/* PlayLists Browse Container */
.playlists .userContainer .fileContainer{
    background: rgba(0,0,0,1);
    color: rgba(255,255,102,1);
    Border: 1px solid rgba(255,255,102,0.5);
}
.playlists .userContainer .fileContainer .label{
    color: rgba(255,255,102,1);
}

/* TechInfo ------------------------------------------------------------------------------------ */

.info tr:nth-child(2n+1){
    background-color: rgba(0,0,0,1);
}
.info tr:nth-child(2n+2){
    background-color: rgba(51,51,0,0.5);
}

/* Language ------------------------------------------------------------------------------------ */

.language .languageActions .langBtn {
    background: rgba(0,0,0,1);
    color: rgba(255,255,102,1);
    Border: 1px solid rgba(255,255,102,0.5);
}
.language .languageActions .langBtn:hover {
    background: rgba(0,0,0,1);
    color: rgba(255,255,255,1);
    Border: 1px solid rgba(255,255,255,1);
}
/* Theme --------------------------------------------------------------------------------------- */

.theme .block{
    border-color: rgba(204,253,209,0.21);
}
.theme .block:hover:not(.activeTheme){
    background-color: rgba(51,51,0,1);
}
.theme .block.activeTheme{
    background-color: rgba(51,51,0,1);
}