/* Custom Style Sheet by trumpy81 */
/* Main Page Background Color */
body{
    background-color: rgba(204,233,255,1);
    color: rgba(0,58,102,1);
}
/* Scrollbar styles (Does Not Work In FireFox) */
::-webkit-scrollbar-thumb {
    background-color: rgba(0,58,102,0.5);
    outline: 1px solid rgba(255,255,255,0.30);
    -webkit-border-radius: 1ex;
    -webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.75);
}  
::-webkit-scrollbar-corner {
    background: #1A1A1A;
}
::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0,58,102,0.5);
    outline: 1px solid rgba(0,0,0,1);
}
/* The Dreaded Gear Wheel Spinning Icon Thingy */
webtools-loading{
    background-color: rgba(0, 0, 0, 0.3);
}
webtools-loading .webtoolsLoading {
    color: rgba(0,58,102,1);
}
content-loading{
}
content-loading .contentLoading {
    color: rgba(0,58,102,1);
}

/* Help ? Button */

help {
    color: rgba(0,58,102,1);
}
help:hover {
    color: rgba(255,255,153,1);
}
/* Help ? Button Dialog Page */
.ngdialog.ngdialog-theme-default .ngdialog-content {
    background-color: rgba(204,233,255,1);
}

/* Head ------------------------------------------------------------------------------------------------------- */

/* Top Title Bar */
.head{
    background-color: rgba(0,58,102,1);
    box-shadow:0 0 0 0px rgba(0,0,0,1);
}
.head .title{
    color: rgba(255,255,153,1);
}

/* Menu ---------------------------------------------------------------------------------------- */

/* Menu Separator Line */
.line{
    border-bottom: 1px solid rgba(255,255,255,0.05);
}

/* Menu Background Color */
.menu {
    background-color: rgba(0,58,102,0.5);
    box-shadow:0 0 0 0px rgba(0,0,0,0);
}
.menu .item {
    background: rgba(255,255,153,1);
    color: rgba(0,58,102,1);
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,.45);
}
.menu .item:hover {
    background: rgba(0,71,126,1);
    color: rgba(255,255,153,1);
}
.menu .item.active {
    background: rgba(0,71,126,1);
    color: rgba(255,255,153,1);
}
/* Menu Hide/Show */
.menu .toggle {
    background: rgba(0,58,102,1);
    color: rgba(255,255,153,1);
}
.menu .toggle:hover {
    background: rgba(0,58,102,0.5);
}
.menu .toggle:active {
    background: rgba(0,58,102,1);
}

/* Subtitles ----------------------------------------------------------------------------------- */

.sub .settings {
    background: rgba(255,255,153,1);
}
.sub .search .btnSearch {
    background: rgba(255,255,153,1);
    color: rgba(0,71,126,1);
}
.sub .search .btnSearch:hover {
    background: rgba(0,71,126,1);
    color: rgba(255,255,153,1);
}
.sub .search .searchInput{
    background-color: rgba(204,233,255,0.25);
    color: rgba(0,0,0,1);
}
/* Sub Item Row */
.sub .rowShow{
    background: rgba(255,255,153,1);
    box-shadow: 1px 1px 2px 1px rgba(0,0,0,.25);
}
/* Expanded Row Separator Under Icon */
.sub .rowShow.expanded .lineShow .type{
    border-bottom-color: rgba(0,58,102,0.25);
}
/* Expanded Row Separator Under Title */
.sub .rowShow.expanded .lineShow .title{
    border-bottom-color: rgba(20,58,102,0.25);
}
/* Sub Item Box */
.sub .rowShow .lineShow .contentShow .detail{
    background: rgba(102,145,178,0.75);
}
/* Sub Item Subtitle List */
.sub .rowShow .lineShow .contentShow .detail .subItem{
    background: rgba(255,255,255,0.2);
}
/* Sub Item Subtitle List Checked */
.sub .rowShow .lineShow .contentShow .detail .subItem.checked{
    background: rgba(255,255,255,0.5);
}
/* Sub Item Load More Button */
.sub .rowShow .lineShow .contentShow .loadmore{
    background: rgba(102,145,178,1);
    border: solid 6px rgba(255,255,153,1);    
}
.sub .rowShow .lineShow .contentShow .loadmore:hover{
    background: rgba(102,145,178,0.85);
}
/* Sub TV Show Button */
.sub .rowShow .lineShow .contentShow .tvshow{
    background-color: rgba(102,145,178,1);
}
.sub .rowShow .lineShow .contentShow .tvshow:hover{
    background-color: rgba(0,58,102,1);
    color: rgba(255,255,153,1)
}
/* Sub TV Show Series Title / Back Button */
.sub .rowShow .lineShow .contentShow .tvshowheader div{
    padding:5px;
    cursor:pointer;
    border-radius: 10px;
    background: rgba(102,145,178,0.5);
    overflow:hidden; 
}
.sub .rowShow .lineShow .contentShow .tvshowheader div:hover{
    background: rgba(0,58,102,1);
    color: rgba(255,255,153,1)
}

/* Logs ---------------------------------------------------------------------------------------- */

/* Logs Download Buttons */
.logs .logButton{
    background: rgba(0,71,126,1);
    color: rgba(255,255,153,1);
}
.logs .logButton:hover {
    background: rgba(255,255,153,1);
    color: rgba(0,71,126,1);
}
/* Logs Search Bar Background */
.logs .search{
    background-color: rgba(153,189,216,1);
}
/* Logs Search Bar Input Text */
.logs .search .searchInput{
    background-color: rgba(204,233,255,0.25);
    color: rgba(0,0,0,1);
}
/* Logs Search Bar Buttons */
.logs .search .btnSearch{
    background: rgba(0,71,126,1);
    color: rgba(255,255,153,1);
}
.logs .search .btnSearch:hover{
    background: rgba(255,255,153,1);
    color: rgba(0,71,126,1);
}

/* Logs Alternate Line Colors */
.logs .logDetails table tr:nth-child(odd) {
}
.logs .logDetails table tr:nth-child(even) {
    background-color: rgba(204,233,255,0.25);
}
/* Highlight Error Lines */
.logs .logDetails table tr.danger {
    background-color: rgba(216,58,45,1);
    color: rgba(255,255,255,1)
}
/* Logs Search Result Colors */
.logs .logDetails table tr.lineFound{
    background-color: rgba(255,255,153,0.6);
    color: rgba(0,0,0,1)   
}
.logs .logDetails table tr.lineFound.focused{
    background-color: rgba(255,255,153,1);
    color: rgba(0,0,0,1)   
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,1);
}

/* UAS -------------------------------------------------------------------------------------------------------- */

/* UAS Category Selector Box */
.uas .typesMenu {
    background-color: rgba(204,233,255,0.1);
    box-shadow: 0 0 0 3px rgba(0,0,0,0.2);
}
.uas .type:hover{
    background: rgba(255,255,153,1);
}
/* UAS Category Selector Box Selected Highlight */
.uas .type.active{
    color: rgba(255,255,153,1);
    border-radius: 3px;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6691b2+15,003a66+51,6691b2+83 */
background: rgb(102,145,178); /* Old browsers */
background: -moz-linear-gradient(left,  rgba(102,145,178,1) 15%, rgba(0,58,102,1) 51%, rgba(102,145,178,1) 83%); /* FF3.6-15 */
background: -webkit-gradient(linear, left top, right top, color-stop(15%,rgba(102,145,178,1)), color-stop(51%,rgba(0,58,102,1)), color-stop(83%,rgba(102,145,178,1))); /* Chrome4-9,Safari4-5 */
background: -webkit-linear-gradient(left,  rgba(102,145,178,1) 15%,rgba(0,58,102,1) 51%,rgba(102,145,178,1) 83%); /* Chrome10-25,Safari5.1-6 */
background: -o-linear-gradient(left,  rgba(102,145,178,1) 15%,rgba(0,58,102,1) 51%,rgba(102,145,178,1) 83%); /* Opera 11.10-11.50 */
background: -ms-linear-gradient(left,  rgba(102,145,178,1) 15%,rgba(0,58,102,1) 51%,rgba(102,145,178,1) 83%); /* IE10 preview */
background: linear-gradient(to right,  rgba(102,145,178,1) 15%,rgba(0,58,102,1) 51%,rgba(102,145,178,1) 83%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6691b2', endColorstr='#6691b2',GradientType=1 ); /* IE6-9 */
    -webkit-box-shadow: 0 2px 2px 0 rgba(50,50,50,.6);
    -moz-box-shadow: 0 2px 2px 0 rgba(50,50,50,.6);
    box-shadow: 0 2px 2px 0 rgba(50,50,50,.6);
}

/* Search Button */
.uas .typesMenu .search .btnSearch {
    background: rgba(0,71,126,1);
    color: rgba(255,255,153,1);
}
.uas .typesMenu .search .btnSearch:hover {
    background: rgba(255,255,153,1);
    color: rgba(0,71,126,1);
}
/* Search Text Input */
.uas .typesMenu .search .searchInput {
    background-color: rgba(204,233,255,0.75);
    color: rgba(0,0,0,1);
}
/* Manual Installation Text Input */
.uas .manualInstall {
    background-color: rgba(204,233,255,0.75);
    color: rgba(0,0,0,1);
}
/* UAS Buttons */
.uas .uasBtn {
    background: rgba(0,71,126,1);
    color: rgba(255,255,153,1);
}
.uas .uasBtn:hover {
    background: rgba(255,255,153,1);
    color: rgba(0,71,126,1);
}
/* UAS Item Installed Container */
.uas .repoContainer .repo.installed{
    background: rgba(0,130,230,0.25);
}
/* UAS Item Install/Update Button */
.uas .repoContainer .repo .header .right .installUpdate{
    background: rgba(0,71,126,1);
    color: rgba(255,255,153,1);
}
.uas .repoContainer .repo .header .right .installUpdate:hover{
    background: rgba(255,255,153,1);
    color: rgba(0,58,102,1);
}
/* UAS Item Delete Button */
.uas .repoContainer .repo .header .right .delete{
    background: rgba(0,71,126,1);
    color: rgba(255,255,153,1);
}
.uas .repoContainer .repo .header .right .delete:hover{
    background: rgba(255,255,153,1);
    color: rgba(0,71,126,1);
}
/* UAS Item Container */
.uas .repoContainer .repo {
    background-color: rgba(255,255,153,1);
    color: rgba(0,58,102,1);
}
/* UAS Item Revealed Row Upper&Lower */
.uas .repoContainer .repo .details .row {
    background: rgba(204,233,255,0.75);
    color: rgba(0,58,102,1);
}
/* UAS Item Revealed Row Middle */
.uas .repoContainer .repo .details .row:nth-child(2n) {
    background: rgba(204,233,255,0.75);
    color: rgba(0,58,102,1);
}
/* UAS Item Installed Row Upper&Lower */
.uas .repoContainer .repo.installed .details .row{
    background: rgba(204,233,255,0.75);
}
/* UAS Item Installed Row Middle */
.uas .repoContainer .repo.installed .details .row:nth-child(2n){
    background: rgba(204,233,255,0.75);
}

/* Find Media ------------------------------------------------------------------------------------------------- */

/* FM Settings Box */
.fm .settings {
    background: rgba(153,189,216,1);
    color: rgba(0,58,102,1);
    Border: 1px solid rgba(0,0,0,0.2);
}
/* FM Buttons */
.fm button{
    background-color: rgba(255,255,153,1);
}
.fm button:hover {
    background-color: rgba(0,58,102,1);
    color: rgba(255,255,153,1);
}
/* FM Library List Rows */
.fm .sections .section {
    background-color: rgba(255,255,153,1);
    color: rgba(0,58,102,1);
}
.fm .sections .section:hover {
    background: rgba(0,58,102,1);
    color: rgba(255,255,153,1);
}

/* Playlists ----------------------------------------------------------------------------------- */

.btnInput {
    background: rgba(0,58,102,1);
    color: rgba(255,255,153,1);
}
.btnInput:hover {
    background: rgba(255,255,153,1);
    color: rgba(0,58,102,1);
}
/* Playlists Item Container */
.playlists .playlistContainer {
    background-color: rgba(255,255,153,1);
    color: rgba(0,58,102,1);
}
/* Playlists Buttons */
.playlists .playlistBtn {
    background: rgba(0,58,102,1);
    color: rgba(255,255,153,1);
    border: 1px solid rgba(0,0,0,0.5);
}
.playlists .playlistBtn:not(.disabled):hover {
    background: rgba(255,255,153,1);
    color: rgba(0,58,102,1);
    border: 1px solid rgba(0,58,102,1);
}
/* Playlists Buttons Disabled*/
.playlists .playlistBtn.disabled {
    background: rgba(255,0,0,1);
    color: rgba(255,255,153,1);
    border: 1px solid rgba(0,58,102,1);
}
.playlists .playlistBtn.disabled:hover {
    background: rgba(255,0,0,1);
    color: rgba(255,255,153,1);
    border: 1px solid rgba(0,58,102,1);
}
/* PlayLists Browse Container */
.playlists .userContainer .fileContainer{
    background: rgba(255,255,153,1);
}
.playlists .userContainer .fileContainer .label{
    color: rgba(0,58,102,0.7);
}

/* TechInfo ------------------------------------------------------------------------------------ */

.info tr:nth-child(2n+1){
    background-color: rgba(204,233,255,0.1);
}
.info tr:nth-child(2n+2){
    background-color: rgba(0,58,102,0.1);
}

/* Language --------------------------------------------------------------------------------------------------- */

.language .languageActions .langBtn {
    background: rgba(0,71,126,1);
    color: rgba(255,255,153,1);
}
.language .languageActions .langBtn:hover {
    background: rgba(255,255,153,1);
    color: rgba(0,71,126,1);
}
/* Theme ------------------------------------------------------------------------------------------------------ */

.theme .block{
    border-color: rgba(0,71,126,0.25);
}
.theme .block:hover:not(.activeTheme){
    background-color: rgba(255,255,153,1);
}
.theme .block.activeTheme{
    background-color: rgba(255,255,153,1);
}