
.panel-default>.panel-heading {background-color: #0082e6; color: #ffff99;}

.navbar {margin-bottom: 0px;}

.navbar-default {background-color: #00477e; color: #003a66; border: 0px solid #00477e;}

.navbar-default .navbar-nav>li>a {color: #FFFFFF;}
.navbar-default .navbar-nav>li>a:hover{background-color: #0065b3; color: #ffff99;}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {background-color: #0065b3; color: #ffff99;}

.navbar-default .navbar-brand {color: #FFFFFF;}
.navbar-default .navbar-brand:hover {color: #ffff99; cursor: pointer;}

.navbar-default .navbar-nav>.active>a {background-color: #0082e6; color: #ffff99;}
.navbar-default .navbar-nav>.active>a:hover {background-color: #0082e6; color: #FFFFFF;}

.panel-body {background-color: #FFFFFF; padding: 8px;}

.dropdown-menu>li>a {background-color: #0065b3; color: #ffff99;}
.dropdown-menu>li>a:hover {background-color: #ffff99; color: #0065b3;}
.navbar-nav>li>.dropdown-menu {background-color: #0065b3; color: #ffff99;}

.panel-default {background-color: #00477e;}
th {background-color: #00477e; color: #FFFFFF;}

.subtitle {padding: 0px;}

.btn-default:hover {background-color: #0082e6; color: #ffff99;}
.btn-default:focus {background-color: #FFFFFF; color: #000000;}
.btn-active {background-color: #0082e6; color: #ffff99;}
.modal-header {background-color: #0082e6; color: #ffff99;}
body {background-color: #0082e6; padding-top:70px;  padding-bottom:70px;}

.customlink {cursor: pointer;}
.table {margin-bottom:0px;}
.smallfont {font-size: 10pt;}

select {background-color: #cce9ff; color: #000000;}
input {background-color: #cce9ff; color: #000000;}

.pagination {margin: 0px;}
.pagination>li>span {height: 31px;}
.pagination>.active>span {background-color: #0082e6;color: #003a66; cursor: pointer;}
.pagination>.active>span:hover {background-color: #003a66; color: #0082e6;cursor: pointer;}
.pagination>li>span:hover {background-color: #003a66; color: #0082e6;cursor: pointer;}
.pagination>li>span>select:hover {background-color: #003a66; color: #0082e6;cursor: pointer;}

.flags { position:relative;display:inline-block;width:1.33333333em;line-height:1em } 

.td-small {width: 60px; }
.div-medium {width: 200px;}
#navfoot {text-align: center;}

.navbar-thin {min-height: 40px; padding-top: 5px; border-top: 1px solid #003a66;}
.changeDisplay {display: table-cell;}

@media screen and (max-width:678px) {
  .changeDisplay {display: block;}
  .div-medium {width: auto;}
}