
.panel-default>.panel-heading {background-color: #262626; color: #fe9b00;}

.navbar {margin-bottom: 0px;}

.navbar-default {background-color: #000000; color: #fe9b00; border: 0px solid #fe9b00;}

.navbar-default .navbar-nav>li>a {color: #fe9b00;}
.navbar-default .navbar-nav>li>a:hover{background-color: #fe9b00; color: #ffffff;}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {background-color: #fe9b00; color: #FFFFFF;}

.navbar-default .navbar-brand {color: #fe9b00;}
.navbar-default .navbar-brand:hover {color: #ffffff; cursor: pointer;}

.navbar-default .navbar-nav>.active>a {background-color: #fe9b00; color: #262626;}
.navbar-default .navbar-nav>.active>a:hover {background-color: #fe9b00; color: #FFFFFF;}

.panel-body {background-color: #b3b3b3; padding: 8px;}

.dropdown-menu>li>a {background-color: #262626; color: #fe9b00;}
.dropdown-menu>li>a:hover {background-color: #fe9b00; color: #262626;}
.navbar-nav>li>.dropdown-menu {background-color: #262626; color: #fe9b00;}

.panel-default {background-color: #1f1f1f;}
th {background-color: #fe9b00; color: #262626;}

.subtitle {padding: 0px;}

.btn-default:hover {background-color: #262626; color: #cc7e00;}
.btn-default:focus {background-color: #ffffff; color: #262626;}
.btn-active {background-color: #262626; color: #fe9b00;}
.modal-header {background-color: #262626; color: #fe9b00;}
body {background-color: #1f1f1f; padding-top:70px;  padding-bottom:70px;}

.customlink {cursor: pointer;}
.table {margin-bottom:0px;}
.smallfont {font-size: 10pt;}

select {background-color: #b3b3b3; color: #000000;}
input {background-color: #b3b3b3; color: #000000;}

.pagination {margin: 0px;}
.pagination>li>span {height: 31px;}
.pagination>.active>span {background-color: #fe9b00;color: #262626; cursor: pointer;}
.pagination>.active>span:hover {background-color: #fe9b00; color: #262626;cursor: pointer;}
.pagination>li>span:hover {background-color: #fe9b00; color: #262626;cursor: pointer;}
.pagination>li>span>select:hover {background-color: #fe9b00; color: #262626;cursor: pointer;}

.flags { position:relative;display:inline-block;width:1.33333333em;line-height:1em } 

.td-small {width: 60px; }
.div-medium {width: 200px;}
#navfoot {text-align: center;}

.navbar-thin {min-height: 40px; padding-top: 5px; border-top: 1px solid #fe9b00;}
.changeDisplay {display: table-cell;}

@media screen and (max-width:678px) {
  .changeDisplay {display: block;}
  .div-medium {width: auto;}
}