
.panel-default>.panel-heading {background-color: #f6894b; color: #68452c;}

.navbar {margin-bottom: 0px;}

.navbar-default {background-color: #d83a2d; color: #773b22; border: 0px solid #68452c;}

.navbar-default .navbar-nav>li>a {color: #feb56d;}
.navbar-default .navbar-nav>li>a:hover{background-color: #c23124; color: #feb56d;}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {background-color: #c23124; color: #f6aa51;}

.navbar-default .navbar-brand {color: #feb56d;}
.navbar-default .navbar-brand:hover {color: #c28a44; cursor: pointer;}

.navbar-default .navbar-nav>.active>a {background-color: #68452c; color: #f6894b;}
.navbar-default .navbar-nav>.active>a:hover {background-color: #d99679; color: #feb56d;}

.panel-body {background-color: #f2e1d8; padding: 8px;}

.dropdown-menu>li>a {background-color: #d83a2d; color: #f6894b;}
.dropdown-menu>li>a:hover {background-color: #c23124; color: #f6aa51;}
.navbar-nav>li>.dropdown-menu {background-color: #d83a2d; color: #242424;}

.panel-default {background-color: #f2e1d8;}
th {background-color: #c28a44; color: #68452c;}

.subtitle {padding: 0px;}

.btn-default:hover {background-color: #f6894b; color: #68452c;}
.btn-default:focus {background-color: #f6894b; color: #68452c;}
.btn-active {background-color: #f6894b; color: #68452c;}
.modal-header {background-color: #f6894b; color: #68452c;}
body {background-color: #f2e1d8; padding-top:70px;  padding-bottom:70px;}

.customlink {cursor: pointer;}
.table {margin-bottom:0px;}
.smallfont {font-size: 10pt;}

select {background-color: #f2e1d8; color: #000000;}
input {background-color: #f2e1d8; color: #000000;}

.pagination>.active>span {background-color: #f6894b;color: #68452c; cursor: pointer;}
.pagination>.active>span:hover {background-color: #68452c; color: #f6894b;cursor: pointer;}
.pagination>li>span:hover {background-color: #f6894b; color: #68452c;cursor: pointer;}
.pagination>li>span>select:hover {background-color: #f6894b; color: #68452c;cursor: pointer;}

.navbar-thin {min-height: 40px; padding-top: 5px; border-top: 1px solid #68452c;}

.flags { position:relative;display:inline-block;width:1.33333333em;line-height:1em } 

.td-small {width: 60px; }
.div-medium {width: 200px;}
#navfoot {text-align: center;}

.navbar-thin {min-height: 40px; padding-top: 5px; border-top: 1px solid #666666;}
.changeDisplay {display: table-cell;}

@media screen and (max-width:678px) {
  .changeDisplay {display: block;}
  .div-medium {width: auto;}
}