
.panel-default>.panel-heading {background-color: #ff0000; color: #FFFFFF;}

.navbar {margin-bottom: 0px;}

.navbar-default {background-color: #FF0000; color: #FFFFFF; border: 0px solid #e6e6e6;}

.navbar-default .navbar-nav>li>a {color: #FFFFFF;}
.navbar-default .navbar-nav>li>a:hover{background-color: #ff6666; color: #d9d9d9;}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {background-color: #ff6666; color: #d9d9d9;}

.navbar-default .navbar-brand {color: #FFFFFF;}
.navbar-default .navbar-brand:hover {color: #d9d9d9; cursor: pointer;}

.navbar-default .navbar-nav>.active>a {background-color: #555555; color: #022B53;}
.navbar-default .navbar-nav>.active>a:hover {background-color: #0A457F; color: #FFFFFF;}

.panel-body {background-color: #ffe6e6; padding: 8px;}

.dropdown-menu>li>a {background-color: #ff6666; color: #d9d9d9;}
.dropdown-menu>li>a:hover {background-color: #d9d9d9; color: #ff6666;}
.navbar-nav>li>.dropdown-menu {background-color: #ff6666; color: #d9d9d9;}

.panel-default {background-color: #FF0000;}
th {background-color: #FF0000; color: #d9d9d9;}

.subtitle {padding: 0px;}

.btn-default:hover {background-color: #ff0000; color: #d9d9d9;}
.btn-default:focus {background-color: #FFFFFF; color: #000000;}
.btn-active {background-color: #FF0000; color: #FFFFFF;}
.modal-header {background-color: #ff0000; color: #FFFFFF;}
body {background-color: #ff6666; padding-top:70px;  padding-bottom:70px;}

.customlink {cursor: pointer;}

.table {margin-bottom:0px;}
.smallfont {font-size: 10pt;}

select {background-color: #ffe6e6; color: #000000;}
input {background-color: #ffe6e6; color: #000000;}

.pagination {margin: 0px;}
.pagination>li>span {height: 31px;}
.pagination>.active>span {background-color: #ff6666;color: #d9d9d94; cursor: pointer;}
.pagination>.active>span:hover {background-color: #d9d9d9; color: #ff6666;cursor: pointer;}
.pagination>li>span:hover {background-color: #d9d9d9; color: #ff6666;cursor: pointer;}
.pagination>li>span>select:hover {background-color: #d9d9d9; color: #ff6666;cursor: pointer;}

.flags { position:relative;display:inline-block;width:1.33333333em;line-height:1em } 

.td-small {width: 60px; }
.div-medium {width: 200px;}
#navfoot {text-align: center;}

.navbar-thin {min-height: 40px; padding-top: 5px; border-top: 1px solid #242424;}
.changeDisplay {display: table-cell;}

@media screen and (max-width:678px) {
  .changeDisplay {display: block;}
  .div-medium {width: auto;}
}