
.panel-default>.panel-heading {background-color: #ff4dd2; color: #800060;}

.navbar {margin-bottom: 0px;}

.navbar-default {background-color: #b30086; color: #ff80df; border: 0px solid #ff80df;}

.navbar-default .navbar-nav>li>a {color: #ff80df;}
.navbar-default .navbar-nav>li>a:hover{background-color: #ff80df; color: #ff4dd2;}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {background-color: #ff80df; color: #ff4dd2;}

.navbar-default .navbar-brand {color: #ff80df;}
.navbar-default .navbar-brand:hover {color: #ff4dd2; cursor: pointer;}

.navbar-default .navbar-nav>.active>a {background-color: #555555; color: #022B53;}
.navbar-default .navbar-nav>.active>a:hover {background-color: #0A457F; color: #FFFFFF;}

.panel-body {background-color: #ffccf2; padding: 8px;}

.dropdown-menu>li>a {background-color: #b30086; color: #ff80df;}
.dropdown-menu>li>a:hover {background-color: #ff80df; color: #b30086;}
.navbar-nav>li>.dropdown-menu {background-color: #b30086; color: #ff80df;}

.panel-default {background-color: #ff4dd2;}
th {background-color: #ff4dd2; color: #800060;}

.subtitle {padding: 0px;}

.btn-default:hover {background-color: #ff4dd2; color: #cc0099;}
.btn-default:focus {background-color: #FFFFFF; color: #000000;}
.btn-active {background-color: #ff4dd2; color: #800060;}
.modal-header {background-color: #ff4dd2; color: #800060;}
body {background-color: #ff80df; padding-top:70px;  padding-bottom:70px;}

.customlink {cursor: pointer;}
.table {margin-bottom:0px;}
.smallfont {font-size: 10pt;}

select {background-color: #ffccf2; color: #000000;}
input {background-color: #ffccf2; color: #000000;}

.pagination {margin: 0px;}
.pagination>li>span {height: 31px;}
.pagination>.active>span {background-color: #ff4dd2;color: #ff80df; cursor: pointer;}
.pagination>.active>span:hover {background-color: #ff80df; color: #ff4dd2;cursor: pointer;}
.pagination>li>span:hover {background-color: #ff80df; color: #ff4dd2;cursor: pointer;}
.pagination>li>span>select:hover {background-color: #ff80df; color: #ff4dd2;cursor: pointer;}

.flags { position:relative;display:inline-block;width:1.33333333em;line-height:1em } 

.td-small {width: 60px; }
.div-medium {width: 200px;}
#navfoot {text-align: center;}

.navbar-thin {min-height: 40px; padding-top: 5px; border-top: 1px solid #ff80df;}
.changeDisplay {display: table-cell;}

@media screen and (max-width:678px) {
  .changeDisplay {display: block;}
  .div-medium {width: auto;}
}