<div class="textBold600 textSize3 pushTopMajor pushLeftTrivial">Tools</div>
<div>
    <div class="item" ng-click="navigateTo('/')">Home</div>
    <div class="item" ng-click="navigateTo('sub')">Subtitles</div>
    <div class="item" ng-click="navigateTo('logs')">Logs</div>
    <div class="item" ng-click="navigateTo('uas')">UAS</div>
    <div class="item" ng-click="navigateTo('fm')">FindMedia</div>
    <div class="item" ng-click="navigateTo('playlist')">Playlists</div>
</div>
<div class="line pushTopTrivial"></div>
<div class="textBold600 textSize3 pushTopTrivial pushLeftTrivial" translate>Options</div>
<div>
    <div class="item" ng-click="redirectTo('logout')" translate>Logout</div> 
    <div class="item textBold900" ng-click="upgradeWT()" ng-if="webtoolsModel.isNewVersionAvailable" translate>Update WT</div> 
    <div class="item" ng-click="navigateTo('language')"><i class="fa fa-globe" aria-hidden="true"></i> <translate> Language</translate></div>
    <div class="item" ng-click="navigateTo('theme')" translate>Theme</div>
    <div class="item" ng-click="redirectTo(webtoolsModel.changelogUrl, true)" translate>Changelog</div>
    <div class="item" ng-click="navigateTo('fr')" translate>Factory Reset</div>
</div>
<div class="line pushTopTrivial"></div>
<div class="textBold600 textSize3 pushTopTrivial pushLeftTrivial" translate>Help</div>
<div>
    <div class="item" ng-click="redirectTo(webtoolsModel.threadUrl, true)" translate>WT Forum Thread</div>
    <div class="item" ng-click="redirectTo(webtoolsModel.repoUrl, true)" translate>WT GitHub</div>
    <div class="item" ng-click="redirectTo(webtoolsModel.manualUrl, true)" translate>WT Manual Online</div>
</div>

<div class="toggle glyphicon" ng-click="menuModel.visible = !menuModel.visible" ng-class="{'glyphicon-arrow-left' : menuModel.visible, 'animation glyphicon-arrow-right' : !menuModel.visible}"></div>