<div class="textBold600 textSize3 pushTopMajor pushLeftTrivial">Tools</div>
<div>
    <div class="item" ng-click="navigateTo('/')">Home</div>
    <div class="item" ng-click="navigateTo('sub')">Sub Management</div>
    <div class="item" ng-click="navigateTo('logs')">Logs</div>
    <div class="item" ng-click="navigateTo('uas')">UAS</div>
    <div class="item" ng-click="navigateTo('fm')">FindMedia</div>
</div>
<div class="line pushTopTrivial"></div>
<div class="textBold600 textSize3 pushTopTrivial pushLeftTrivial">Options</div>
<div>
    <div class="item">Logout</div> 
    <div class="item textBold900" style="color:green;">Update WT</div> 
    <div class="item" ng-click="navigateTo('theme')">Theme</div>
    <div class="item" ng-click="navigateTo('changelog')">Changelog</div>
    <div class="item" style="color:red;">Factory Reset</div>
</div>
<div class="line pushTopTrivial"></div>
<div class="textBold600 textSize3 pushTopTrivial pushLeftTrivial">Help</div>
<div>
    <div class="item">WT Forum Thread</div>
    <div class="item">WT GitHub</div>
    <div class="item">WT Manual(PDF)</div>
</div>

<div class="toggle glyphicon" ng-click="menuModel.visible = !menuModel.visible" ng-class="{'glyphicon-arrow-left' : menuModel.visible, 'animation glyphicon-arrow-right' : !menuModel.visible}"></div>