.menu{
    width: 120px;
    height: calc(100% - 60px);
    background-color: rgba(0,0,0,.15);
    box-shadow:0 0 0 3px rgba(0,0,0,.2);
    overflow:hidden;
    float: left;
    transition: width 0.5s;
}
.menu .toggle{
    width: 32px;
    height: 32px;
    position: absolute;
    top: 50%;
    left: 106px;
    font-size: 20px;
    border-radius: 15px;
    background-color: #151515;
    border: 1px rgba(255, 255, 255, 0.15) solid;
    cursor: pointer;
    padding: 5px;
    color: rgb(222, 222, 222);
    transition: left 0.5s;
}

.menu.animationClose{
    width:0px;
    transition: width 0.5s;
}

.menu .toggle.animationMove{
    left:-11px;
    transition: left 0.5s;
}

/* Resp */
@media screen and (max-height: 480px) {
    .menu .toggle {
        top:70px;
    }
}