<div class="logs">

    <div class="textSize4 textBold600">LogViewer Tool</div>

    <div class="row pushTopMajor">
        <div class="col-xs-12">
            <div class="download textBold600" ng-click="downloadLog()"><i class="fa fa-download" aria-hidden="true"></i> Download selected logfile</div>
            <div class="download pushLeftMinor textBold600" ng-click="downloadLogs()"><i class="fa fa-download" aria-hidden="true"></i> Download all logfiles as zip</div>
        </div>
    </div>
    <div class="row pushTopMinor">
        <div class="col-xs-12">
            <div class="form-group">
                <select class="form-control" 
                        ng-model="logsModel.selectedLog"
                        ng-options="log as log.value for log in logsModel.logs track by log.id"
                        ng-change="loadLog(logsModel.selectedLog)">
                </select>
            </div>
        </div>
    </div>

    <content-loading ng-if="webtoolsModel.logsLoading"></content-loading>
    <div ng-if="logsModel.selectedLog.details.length === 0">
        <div class="col-xs-12">File empty</div>
    </div>
    <div class="logDetails" ng-if="!webtoolsModel.logsLoading && logsModel.selectedLog.details">
        <div class="row" ng-repeat="detail in logsModel.selectedLog.details track by $index" >
            <div class="col-xs-12"><div class="index">{[{::$index+1}]}</div> <div class="detail">{[{::detail}]}</div></div>
        </div>
    </div>

</div>