<div class="uas">
    <div class="textSize4 textBold600 pull-left">UnsupportedAppStore</div><help src="static/uas/uasHelp.html"></help>
    <div class="row">
        <div class="col-xs-12">
            <input class="pull-left manualInstall" placeholder="Manual install url..." ng-model="manualInstallUrl" />
            <div class="pull-left uasBtn manualInstallBtn" ng-click="installUpdate(manualRepo, manualInstallUrl, true)">
                <span ng-if="!manualRepo.workingLoading">Manual Install</span>
                <inline-loading2 ng-if="manualRepo.workingLoading"></inline-loading2>
            </div>
            <div class="pull-left uasBtn pushLeftMinor" ng-click="migrate()">Migrate</div>
            <div class="pull-left uasBtn pushLeftMinor" ng-click="forceCache()">Force UAS update</div>
            <div class="pull-left uasBtn pushLeftMinor" ng-click="checkBundleUpdates()">Check for bundle updates</div>
        </div>
    </div>
    <content-loading ng-if="webtoolsModel.uasLoading" class="pushTopMinor"></content-loading>
    <div ng-if="!webtoolsModel.uasLoading">
        <div class="typesMenu">
            <div class="search">
                <input class="searchInput" ng-model="searchValue" placeholder="Search..." />
                <button class="btnSearch" ng-click="DEADFUNCTION()" title="Search"><i class="fa fa-search" aria-hidden="true"></i></button>
            </div>
            <div class="type update"
                 ng-if="uasModel.updateType"
                 ng-click="setType(uasModel.updateType.key, uasModel.updateType)"
                 ng-class="{'active' : uasModel.selectedType.name === uasModel.updateType.key}">
                <div class="pull-left">{[{uasModel.updateType.key}]}</div>
                <!--<div class="pull-right">{[{uasModel.updateType.viewInstalled}]}/{[{uasModel.updateType.viewTotal}]}</div>-->
            </div>
            <div class="type"
                 ng-repeat="(typeName, type) in uasModel.types | orderObjectBy: 'key'"
                 ng-click="setType(type.key, type)"
                 ng-class="{'active' : uasModel.selectedType.name === type.key}">
                <div class="pull-left">{[{type.key}]}</div>
                <div class="pull-right">{[{type.viewInstalled}]}/{[{type.viewTotal}]}</div>
            </div>
        </div>

        <div class="row pushTopNormal" ng-if="uasModel.selectedType.name === 'Updates available'">
            <div class="col-xs-12 textBold600">
                <div class="pull-left" style="margin-top:2px;">You have {[{uasModel.updateType.viewInstalled}]} bundle<span ng-if="uasModel.updateType.viewInstalled > 1">s</span> not up to date.</div>
                <div class="pull-left uasBtn pushLeftMinor" ng-click="updateAllBundles()">Update all</div>
            </div>
        </div>
        
        <div class="repoContainer" ng-if="uasModel.selectedType">
            <div class="repo" ng-class="{'installed' : repo.installed, 'revealed' : repo.revealed}" ng-repeat="(key, repo) in uasModel.list | uasSearchBy:searchValue | orderObjectBy: 'title'" ng-if="typeExist(uasModel.selectedType.name, repo.type)">
                <div class="header" ng-click="repo.revealed = !repo.revealed">
                    <div class="right">
                        <div class="uasBtn installUpdate pull-right mainBtn textBold600" ng-if="!repo.workingLoading && repo.key" ng-click="installUpdate(repo, repo.key);$event.stopPropagation();">
                            <span ng-if="!repo.installed">Install</span>
                            <span ng-if="repo.installed">Update</span>
                        </div>
                        <div class="uasBtn installUpdate pull-right mainBtn textBold600" ng-if="repo.workingLoading">
                            <inline-loading></inline-loading>
                        </div>
                        <div class="uasBtn delete pull-right mainBtn textBold600" ng-if="repo.installed && !repo.workingLoading" ng-click="delete(repo, repo.key);$event.stopPropagation();">
                            <span>Delete</span>
                        </div>
                        <div class="revealedIcon">
                            <span ng-if="!repo.revealed" title="Toggle details"><i class="fa fa-arrow-down" aria-hidden="true"></i></span>
                            <span ng-if="repo.revealed" title="Toggle details"><i class="fa fa-arrow-up" aria-hidden="true"></i></span>
                        </div>
                    </div>

                    <div class="left">
                        <div class="icon" ng-style="{'background': 'url(uas/Resources/{[{repo.icon}]}) center center no-repeat', 'background-size': '90%'}"></div>
                        <div class="title">
                            {[{repo.title}]}
                        </div>
                        <div class="description">{[{repo.description}]}</div>
                    </div>
                </div>

                <div ng-if="repo.revealed" class="details">
                    <div class="row">
                        <div class="col-xs-1">
                            Categories:
                        </div>
                        <div class="col-xs-11">
                            <span ng-repeat="type in repo.type">{[{type}]}<span ng-if="!$last">, </span></span>
                        </div>
                    </div>
                    <div class="row" ng-if="repo.date">
                        <div class="col-xs-1">
                            Last updated:
                        </div>
                        <div class="col-xs-11">
                            {[{repo.date}]}
                        </div>
                    </div>
                    <div class="row" ng-if="repo.manual">
                        <div class="col-xs-1">
                            Manual:
                        </div>
                        <div class="col-xs-11">
                            <a target="_blank" href="{[{repo.manual}]}">{[{repo.manual}]}</a>
                        </div>
                    </div>
                    <div class="row" ng-if="validUrl(repo.key)">
                        <div class="col-xs-1">
                            Repo:
                        </div>
                        <div class="col-xs-11">
                            <a ng-if="!repo.key">NO KEY? :(</a>
                            <a target="_blank" href="{[{repo.key}]}" ng-if="repo.key">{[{repo.key}]}</a>
                        </div>
                    </div>
                    <div class="row" ng-if="repo.supporturl">
                        <div class="col-xs-1">
                            Support:
                        </div>
                        <div class="col-xs-11">
                            <a target="_blank" href="{[{repo.supporturl}]}">{[{repo.supporturl}]}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>