.uas{

}
.uas .uasBtn{
    padding:2px 8px;
    border: 1px solid grey;
    border-radius:5px;
    cursor:pointer;
    background:rgba(0, 77, 255, 0.25);
}
.uas .uasBtn:hover{
    background:rgba(0, 77, 255, 0.55);
}

.uas .manualInstall{
    width:300px;
    border-radius:5px;
    border-bottom-right-radius:0;
    border-top-right-radius:0;
    color:black;
}
.uas .manualInstallBtn{
    border-bottom-left-radius:0;
    border-top-left-radius:0;
}

.uas .typesMenu{
    position:fixed;
    right:12px;
    top:100px;
    width:180px;
    background-color: rgba(0,0,0,.15);
    box-shadow: 0 0 0 3px rgba(0,0,0,.2);
    z-index:2;
    border-radius:5px;
    padding-bottom:10px;
}
.uas .typesMenu .search{
    width:100%;
    height:40px;
}
.uas .typesMenu .search .searchInput{
    float:left;
    margin:3px;
    padding:2px;
    width:125px;
    color:#000000;
    font-size:0.8em;
}
.uas .typesMenu .search .btnSearch{
    float:left;
    margin:3px;
    padding:2px;
    border-radius:3px;
    cursor:pointer;
    font-size:0.8em;
    width:40px;
    background-color: #286090;
}
.uas .typesMenu .type{
    float:right;
    width:100%;
    height:40px;
    padding:10px;
    overflow:hidden;
    font-size:1.1em;
    cursor:pointer;
}
.uas .type:hover{
    background:rgba(200, 200, 200, 1.00);
}
.uas .type.active{
    color:white;
    border-radius:3px;
    background: #2370ca;
    background: rgba(33,98,173,1);
    background: -moz-linear-gradient(left,rgba(33,98,173,1) 0%,rgba(40,125,222,1) 25%,rgba(40,125,222,1) 75%,rgba(33,98,173,1) 100%);
    background: -webkit-gradient(left top,right top,color-stop(0%,rgba(33,98,173,1)),color-stop(25%,rgba(40,125,222,1)),color-stop(75%,rgba(40,125,222,1)),color-stop(100%,rgba(33,98,173,1)));
    background: -webkit-linear-gradient(left,rgba(33,98,173,1) 0%,rgba(40,125,222,1) 25%,rgba(40,125,222,1) 75%,rgba(33,98,173,1) 100%);
    background: -o-linear-gradient(left,rgba(33,98,173,1) 0%,rgba(40,125,222,1) 25%,rgba(40,125,222,1) 75%,rgba(33,98,173,1) 100%);
    background: -ms-linear-gradient(left,rgba(33,98,173,1) 0%,rgba(40,125,222,1) 25%,rgba(40,125,222,1) 75%,rgba(33,98,173,1) 100%)!important;
    background: linear-gradient(to right,rgba(33,98,173,1) 0%,rgba(40,125,222,1) 25%,rgba(40,125,222,1) 75%,rgba(33,98,173,1) 100%)!important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2162ad',endColorstr='#2162ad',GradientType=1)!important;
    -webkit-box-shadow: 0 2px 2px 0 rgba(50,50,50,.6);
    -moz-box-shadow: 0 2px 2px 0 rgba(50,50,50,.6);
    box-shadow: 0 2px 2px 0 rgba(50,50,50,.6);
}
.uas .type.update{
    color:white;
    border-radius:3px;
    background: rgba(226,167,3,1);
    background: -moz-linear-gradient(left, rgba(226,167,3,1) 0%, rgba(247,189,29,1) 40%, rgba(247,189,29,1) 60%, rgba(226,167,3,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(226,167,3,1)), color-stop(40%, rgba(247,189,29,1)), color-stop(60%, rgba(247,189,29,1)), color-stop(100%, rgba(226,167,3,1)));
    background: -webkit-linear-gradient(left, rgba(226,167,3,1) 0%, rgba(247,189,29,1) 40%, rgba(247,189,29,1) 60%, rgba(226,167,3,1) 100%);
    background: -o-linear-gradient(left, rgba(226,167,3,1) 0%, rgba(247,189,29,1) 40%, rgba(247,189,29,1) 60%, rgba(226,167,3,1) 100%);
    background: -ms-linear-gradient(left, rgba(226,167,3,1) 0%, rgba(247,189,29,1) 40%, rgba(247,189,29,1) 60%, rgba(226,167,3,1) 100%);
    background: linear-gradient(to right, rgba(226,167,3,1) 0%, rgba(247,189,29,1) 40%, rgba(247,189,29,1) 60%, rgba(226,167,3,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2a703', endColorstr='#e2a703', GradientType=1 );
    -webkit-box-shadow: 0 2px 2px 0 rgba(50,50,50,.6);
    -moz-box-shadow: 0 2px 2px 0 rgba(50,50,50,.6);
    box-shadow: 0 2px 2px 0 rgba(50,50,50,.6);
}


.uas .repoContainer{
    width:90%;
    width:calc(100% - 190px); /* Minus typesMenu */
    border-radius:2px;
    padding:5px;
}

.uas .repoContainer .repo{
    margin-top: 10px; 
    background: rgba(0, 77, 255, 0.15);
    box-shadow: 3px 3px 10px 1px black;
    border-radius: 5px;
    overflow: hidden;
    margin: 15px;
    position: relative;
    border: 1px solid #4c4c4c;
    height:90px;
}
.uas .repoContainer .repo.revealed{
    height:220px;
}
.uas .repoContainer .repo.installed{
    background:rgba(76, 175, 80, 0.35);
}

.uas .repoContainer .repo .header{
    padding: 5px;
    padding-bottom:0;
    cursor:pointer;
    height:90px;
    width:100%;
}
.uas .repoContainer .repo.revealed .header{
}
.uas .repoContainer .repo .header .icon{
    float:left;
    width:60px;
    height:100%;
    margin-right:10px;
}
.uas .repoContainer .repo .header .title{
    width: calc(100% - 260px); /*Minus install & delete & icon*/
    float:left;
    font-size:1.4em;
}
.uas .repoContainer .repo .header .description{
    height: 40px;
    overflow: hidden;
    width: calc(100% - 260px); /*Minus install & delete & icon*/
    float: left;
}
.uas .repoContainer .repo .header .installUpdate{
}
.uas .repoContainer .repo .header .installUpdate:hover{
}
.uas .repoContainer .repo .header .delete{
    margin-right:10px;
}
.uas .repoContainer .repo .header .delete:hover{
}
.uas .repoContainer .repo .revealedIcon{
    font-size:18px;
    margin-right:10px;
    margin-top:2px;
}


.uas .repoContainer .repo .details{
    padding: 5px;
    padding-top:1px;
    padding-left:75px;
    height:130px;
}