<div class="uas">
    <div class="textSize4 textBold600">UnsupportedAppStore</div>
    <div class="pushTopTrivial">Here you can either install a channel by it's Github repository link or by selecting one of the categories below.</div>
    <div>If you have installed channels manually before installing WebTools, you can click on the "Migrate manually/previously installed channels" to make WebTools aware of them.</div>
    <div>You can also search for updates for all installed channels managed by WebTools via the "Check for updates for all installed channels" button.</div>
    <div>Category names contain installed/total available channels.</div>

    <content-loading ng-if="webtoolsModel.uasLoading" class="pushTopMinor"></content-loading>
    <div class="row pushTopMinor">
        <div class="col-xs-12">
            <div class="type" ng-repeat="(typeName, type) in uasModel.types">
                <div class="pull-left">{[{typeName}]}</div>
                <div class="pull-right">{[{type.installed}]}/{[{type.total}]}</div>
            </div>
        </div>
    </div>
    <div class="repoContainer">
        Results
    </div>
</div>