<div class="sub">
    <div class="textSize4 textBold600 pull-left">Subtitle Management</div><help src="static/sub_management/subHelp.html"></help>
    <div class="pushTopTrivial">This is an unofficial manager for subtitles.</div>
    <div>Usage is on your own risk! Click on the "?" for additional help</div>

    <content-loading ng-if="webtoolsModel.subLoading" class="pushTopMinor"></content-loading>
    <div ng-if="!webtoolsModel.subLoading" class="pushTopMinor">
        <div class="row rowShow" ng-repeat="show in subModel.shows track by show.key | orderBy : 'title'" ng-class="{'expanded': show.expanded}">
            <div class="col-sm-12 textSize3 textBold600 lineShow">
                <div class="type" ng-click="expandShow(show)"><img ng-src="icons/{[{show.type}]}.png" /></div>
                <div class="title" ng-click="expandShow(show)">{[{show.title}]}</div>
                <div class="contentShow" ng-if="show.expanded">
                    test
                </div>
            </div>
        </div>
    </div>
</div>