.language{
}
.language .languageActions {
    width: 100%;
    height: 80px;
}
.language .languageActions .languageSelector {
    float: left;
    color: black;
    min-width: 200px;
    height: 40px;
    border-radius: 5px;
    padding: 2px;
}
.language .languageActions .langBtn {
    float: left;
    margin-left: 10px;
    height: 40px;
    padding: 8px 10px;
    border: 1px solid grey;
    border-radius: 5px;
    cursor: pointer;
    background: rgba(0, 77, 255, 0.25);
}
.language .languageActions .langBtn:hover {
    background:rgba(0, 77, 255, 0.55);
}

.language a {
    color: #42a0f1;
}